html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 20px;
    margin: 15px;
}

.navbar {
    background: white;
    display: flex;
    width: 100%;
}

.navbar a {
    padding: 10px;
}

.navbar--home{
    background-color:white;
    color: green;
}

.navbar--about{
    background-color: white;
    color: yellow;
}

.navbar--gallery{
    background-color:white;
    color: red;
}

body{
    background-color:purple;
}